header{
    width: 100%;
    box-shadow: 0 0 10px var(--main-color);
    padding: 10px 0;
    background-color: white;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container h3{
    transition: all 0.3s linear;
}
header .container h3:hover{
    color: var(--main-color-alt);
}
header .container nav{
    display: flex;
    align-items: center;
}
header .container nav a{
    display: inline-block;
    padding: 10px;
    color: black;
    overflow: hidden;
    transition: all 0.3s linear;
    position: relative;
}
header .container nav a:hover{
    color: var(--main-color);
    background-color: #eee;
    font-weight: bold;
}
header .container nav a::before,
header .container nav a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    transition: all 0.3s linear;
}
header .container nav a::before{
    left: -100%;
    top: 0;
}
header .container nav a::after{
    right: -100%;
    bottom: 0;
}

header .container nav a:hover::before{
    left: 0;
}
header .container nav a:hover::after{
    right: 0;  
}
header .container button{
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s linear;
}
header .container button:hover{
    background-color: var(--main-color-alt);
}